[submodule "modules/qunit-tap"]
	path = modules/qunit-tap
	url = https://Cside@github.com/Cside/qunit-tap.git
[submodule "modules/underscore"]
	path = modules/underscore
	url = https://github.com/documentcloud/underscore
